<!-- navbar -->
<nav class="navbar navbar-toggleable-md navbar-light fixed-top sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <p id="notice"><%= notice %></p>

        <h2 class="text-center">부스 정보</h2>

        <div class="container">
          <%= form_tag search_posts_path, method: :get, role: "search" do |f|%>
            <div class="form-check">
              <label class="form-check-label">
                <%= check_box_tag :search, "낮부스" %> 낮부스
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "밤주점" %> 밤주점
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "주변주점" %> 주변주점
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "안주" %> 안주
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "술" %> 술
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "합석" %> 합석
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "스포츠" %> 스포츠
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "섹시" %> 섹시
              </label>
              <label class="form-check-label">
                <%= check_box_tag :search, "캐릭터" %> 캐릭터
              </label>
            </div>
              <%= submit_tag "검색", name: nil, class: 'btn btn-secondary btn-block' %>
          <% end %>
        </div>

      </li>
    </ul>
  </div>
</nav>
