<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :category %>
  </div>
  
  <div class="field">
    <%= f.label :feature %>
    <%= f.text_field :feature %>
  </div>

  <div class="field">
    <%= f.label :img %>
    <%= f.file_field :menuimg %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>