<div class="row">
  <div class="card-wrap py-2 col-12 mx-auto">
      <div class="card-top zigzag">
        <div style="padding: 20px;">
          <h5>총 <%=@posts.length%>개의 주점이 대기중</h5>
        </div>
      </div>
      <% @posts.each do |post| %>
        
        <%=link_to post do%>
          <div class="card">
            <h5><%=post.category%> <%=post.name%></h5>
            <p><%=post.address%> + <%=post.feature%></p> 
            <p class="mute">자세히보기 <i class="fa fa-angle-right" aria-hidden="true"></i></p>
          </div>
        <%end%>
      <% end %>
  </div>
</div>




<%=render "chat"%>