<p id="notice"><%= notice %></p>

<h2 class="text-center">부스 정보</h2>

<%= form_tag search_posts_path, method: :get, role: "search" do |f|%>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <%= check_box_tag :search, "낮부스" %> 낮부스
    </label>
    <label class="form-check-label">
      <%= check_box_tag :search, "밤주점" %> 밤주점
    </label>
    <label class="form-check-label">
      <%= check_box_tag :search, "주변주점" %> 주변주점
    </label>
    <%= submit_tag "검색", name: nil, class: "btn btn-secondary" %>
  </div>
<% end %>
<%= form_tag search_posts_path, method: :get, role: "search" do |f|%>
  <p>
    <div class="col-lg-6 mb-3">
      <div class="input-group">
        <%= text_field_tag :search ,"",class: "form-control"%>
        <span class="input-group-btn">
          <%= submit_tag "검색", name: nil, class: "btn btn-secondary" %>
        </span>
      </div>
    </div>
<% end %>

<div class="container pt-3">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="py-2 col-8 col-sm-4 col-md-3 col-lg-2 mx-auto">
        <div class="card text-center">
          <%= image_tag post.menuimg.url, class: "card-img-top" %>
          <div class="card-block">
            <h4 class="card-title font-weight-bold"><%=post.name%></h4>
            <%= link_to '보러가기', post ,class: "btn btn-secondary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
