<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:100%;height:400px;"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>특징:</strong>
  <%= @post.feature %>
</p>

<p>
  <strong>Menu:</strong>
  <%= image_tag @post.menuimg.url %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=66403b863cfd40fe24effe89d42aca93"></script>
<script>
  var X = "<%= @post.x %>"
  var Y = "<%= @post.y %>"
  var category = "<%= @post.category %>"
  var mapContainer = document.getElementById('map');
  var mapOptions = {
    center: new daum.maps.LatLng(X, Y),
    level: 3
  };

  var map = new daum.maps.Map(mapContainer, mapOptions);
  var imageSrc, markerImage, markerPosition;
  var imageOption = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

  //건국대학교
  if (category == "주변"){
    imageSrc = '<%= asset_path "near.png" %>'; // 마커이미지의 주소입니다
    imageSize = new daum.maps.Size(62, 65); // 마커이미지의 크기입니다
  }
  //컴공주점
  else if (category == "낮부스"){
      imageSrc = '<%= asset_path "lunch.png" %>'; // 마커이미지의 주소입니다
      imageSize = new daum.maps.Size(46, 69); // 마커이미지의 크기입니다
  }
  //응통주점
  else if (category == "밤부스"){
      imageSrc = '<%= asset_path "dinner.png" %>'; // 마커이미지의 주소입니다
      imageSize = new daum.maps.Size(70, 69); // 마커이미지의 크기입니다
  }
  // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
  var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOption);

  var markerPosition  = new daum.maps.LatLng(X, Y);

  var marker = new daum.maps.Marker({
    position: markerPosition,
    image: markerImage
  });
  marker.setMap(map);
</script>
