<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:100%;height:700px;"></div>

<!-- 다음지도 api -->
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=66403b863cfd40fe24effe89d42aca93"></script>

<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new daum.maps.LatLng(37.5419759,127.0745398), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨 2.5가 있었음 좋겠다.
    };
// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new daum.maps.Map(mapContainer, mapOption); 

</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Local:</strong>
  <%= @post.local %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>특징:</strong>
  <%= @post.feature %>
</p>

<p>
  <strong>Menu:</strong>
  <%= image_tag @post.menuimg.url %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>